.ttnny-input {
    min-width: 5em;
    max-width: 25em;
}

.js-calendar-graph-svg {
    font-size: 10px;
    fill: #767676;
}

.tab-content>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}
.tab-content>.tab-pane.active {
    height: auto;
}

.nav-link:focus, .nav-link:hover {
    background-color: white;
    color: #6c757d;
}