.ttnny-input {
    min-width: 7em;
    max-width: 15em;
}

.js-calendar-graph-svg {
    font-size: 10px;
    fill: #767676;
}

.tab-content > .tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
}

.tab-content > .tab-pane.active {
    height: auto;
}

.alert-info {
    display: inline-block;
}

i.fa-github:hover {
    color: #6c757d !important;
}