<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Contribution Statistics :: Tony's Spacetime</title>
</head>
<body>
<h1>GitHub Contribution Statistics (Heatmap)</h1>
<form action="/github-lcs/ctbnstats" method="POST">
    <label>GitHub username:</label><br/>
    <input type="text" name="username"><br/>
    <input type="submit">
</form>

<div>{{.}}</div>
</body>
</html>