<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Language Statistics :: Tony's Spacetime</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="//ttnny.com/apps">Apps</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="//ttnny.com">Back to Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container py-4">
    <h1>GitHub Language Statistics
        <span class="ml-2"><a href="//github.com/ttnny/github-lcs" target="_blank"><i
                        class="fab fa-github text-dark"></i></a></span>
    </h1>
    <p class="pt-3">Please input your GitHub username:</p>
    <form action="/github-lcs/langstats" method="POST">
        <div class="input-group mb-3 form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">example.com/github-lcs/api/langstats/</span>
            </div>
            <input type="text" name="username" class="form-control ttnny-input" placeholder="GitHub username"
                   value="{{.Username}}" required>
            <div class="input-group-append">
                <button class="btn btn-success" type="submit">Go</button>
            </div>
        </div>
    </form>

    <p class="alert alert-info"><i class="fas fa-info-circle"></i> The value shown for each language is the <u>number of
            bytes of code</u> written in
        that language. The results are based on 100 (max) of the most pushed/updated public repos.</p>

    {{if .}}
        {{template "langchart" .}}
    {{end}}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>