<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHub Language Statistics</title>
</head>
<body>
<h1>GitHub Language Statistics</h1>
<form action="/github-lcs/langstats" method="POST">
    <label>GitHub username:</label><br/>
    <input type="text" name="username"><br/>
    <input type="submit">
</form>

<p>"C#", "HTML", "JavaScript", "CSS", "Hack", "Python", "Shell", "Kotlin", "Java", "Go", "HCL", "PHP"</p>
<p>197.827, 207.575, 1213.760, 543.984, 61.858, 12.557, 22.980, 57.185, 78.682, 4128.842, 41.077, 161.282</p>
<p>The value shown for each language is the number of bytes of code written in that language.</p>

{{if .}}
    {{template "langchart" .}}
{{end}}
</body>
</html>